<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>

    <h1>
      <a>Driver Records</a>
    </h1>

    <h3> Drivers (<a href = "{{ url_for('new_driver') }}"> Add driver </a>)</h3>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
        </tr>
      </thead>

      {% for driver in driver_records %}
        <tr>
          <td>{{ driver.id }}</td>
          <td>{{ driver.name }}</td>
          <td>{{ driver.address }}</td>
          <td>{{ driver.city }}</td>
        </tr>
      {% endfor %}

    </table>

    <h3> Routes (<a href="{{ url_for('new_order') }}"> Add New Route </a>)</h3>

  </body>
</html>
