<!DOCTYPE html>
<html>

  <body>

    <h1> New Driver Entry Form</h1>
    <hr/>

    {% for category, message in get_flashed_messages(with_categories = true) %}
      <div class = "alet danger">
        {{ message }}
      </div>
    {% endfor %}

    <div>

      <form action="{{ request.path }}" method="post">
        <label for = "name">Name</label>
        <input type="text" name="name" placeholder="Name" /></br>
        <label for = "address">Address</label>
        <input type="text" name="address" placeholder="Address" /></br>
        <label for = "city">City</label>
        <input type="text" name="city" placeholder="City" /></br>
        <input type="submit" value="Submit" />
      </form>
    </div>

  </body>
</html>
